header {
	background-color: #2c3e50;
}

header .container {
	height: 90px;
}

.debug .container {
	background-color: #00000055;
}

.debug header .row {
	height: 100%;
}

.debug .header_title {
	height: 20px;
	background-color: white;
}

.debug .nav_header {
	height: 100%;
	background-color: #99999955;
}

.debug .nav_item {
	background-color: white;
	height: 20px;
}