.debug header {
	background-color: #2c3e50;
}

.debug header .row {
	height: 90px;
}

.debug .header_title {
	height: 17px;
	background-color: white;
}

.debug .btn_menu {
	height: 33px;
	background-color: #ffffff55;
}