/* Variables and common classes/framework integration */

:root {
	--green-color: #1abc9c; /* Colors */
	--blue-gray-color: #2c3e50;
	--blue-gray-lighter-color: #3a546d;

	--header-height: 90px; /* Sizes */
	
	--hr-width-xs: 42px; /* Overcomplicated horizzontal rule */
	--hr-width-sm: 75px;
	--hr-width-md: 142px;
	--hr-width-xl: 172px;
	--temp-hr-width-sm: var(--hr-width-xs);
	--temp-hr-width-md: var(--hr-width-sm);
	--temp-hr-width-xl: var(--hr-width-md);
	--hr-mx-xs: 4px;
	--hr-mx-sm: 8px;
	--hr-mx-md: 25px;
	--hr-mx-xl: 50px;
	--temp-hr-mx-sm: var(--hr-mx-xs);
	--temp-hr-mx-md: var(--hr-mx-sm);
	--temp-hr-mx-xl: var(--hr-mx-md);

}

html {
	scroll-padding-top: var(--header-height); /* Allow links to go */
}														  /* past the fixed header */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 36px;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 62px;
	}
}
	
.bg-blue-gray {
	background-color: var(--blue-gray-color);
}

.bg-blu-gray-lighter {
	background-color: var(--blue-gray-lighter-color);
}

.bg-green {
	background-color: var(--green-color);
}

.rounded-5 {
	border-radius: .5rem;
}

/* Hr-star rules */

[class^='hr_star-'] {
	--hr-width: var(--hr-width-sm);
	--hr-mx: var(--hr-mx-sm);
}

[class^='hr_star-']::before,
 [class^='hr_star-']::after {
	content: '';
	display: inline-block;
	width: var(--hr-width);
	height: 4px;
	border-radius: 2px;
}

[class^='hr_star-']::before {
	margin-right: var(--hr-mx);
}

[class^='hr_star-']::after {
	margin-left: var(--hr-mx);
}

[class^='hr_star-'][class*='-short'] {
	--hr-width-sm: var(--temp-hr-width-sm);
	--hr-width-md: var(--temp-hr-width-md);
	--hr-width-xl: var(--temp-hr-width-xl);

	--hr-mx-sm: var(--temp-hr-mx-sm);
	--hr-mx-md: var(--temp-hr-mx-md);
	--hr-mx-xl: var(--temp-hr-mx-xl);
}

@media screen and (min-width: 768px) {
	[class^='hr_star-'] {
		--hr-width: var(--hr-width-md);
		--hr-mx: var(--hr-mx-md);
	}
}

@media screen and (min-width: 1200px) {
	[class^='hr_star-'] {
		--hr-width: var(--hr-width-xl);
		--hr-mx: var(--hr-mx-xl);
	}
}

[class^='hr_star-white']::before,
[class^='hr_star-white']::after {
	background-color: #fff;
}

[class^='hr_star-black']::before,
[class^='hr_star-black']::after {
	background-color: #000;
}

/* Header */

header .row {
	height: var(--header-height);
}

header h3 {
	height: 100%;
}
/* Main */

main { 
	padding-top: var(--header-height);
}

/* Jumbo */

.jumbo_img {
	width: 226px;
}

/* Footer */

.social_media button {
	height: 54px;
	width: 54px;
}