/* Variables and common classes/framework integration */

:root {
	--green-color: #1abc9c; /* Colors */
	--blue-gray-color: #2c3e50;
	--blue-gray-lighter-color: #3a546d;

	--header-hight: 90px; /* Sizes */
}

html {
	scroll-padding-top: var(--header-hight); /* Allow links to go */
}														  /* past the fixed header */

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 36px;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 62px;
	}
}
	
.bg-blue-gray {
	background-color: var(--blue-gray-color);
}

.bg-blu-gray-lighter {
	background-color: var(--blue-gray-lighter-color);
}

.bg-green {
	background-color: var(--green-color);
}

.rounded-5 {
	border-radius: .5rem;
}

/* Hr-star rules */

[class^='hr_star-']::before,
 [class^='hr_star-']::after {
	content: '';
	display: inline-block;
	width: 75px;
	height: 4px;
	border-radius: 2px;
	margin: 0 8px;
}

@media screen and (min-width: 768px) {
	[class^='hr_star-']::before,
	 [class^='hr_star-']::after {
		width: 142px;
		margin: 0 25px;
	}
}

@media screen and (min-width: 992px) {
	[class^='hr_star-']::before,
	 [class^='hr_star-']::after {
		width: 172px;
	}
}

.hr_star-white::before,
.hr_star-white::after {
	background-color: #fff;
}

.hr_star-black::before,
.hr_star-black::after {
	background-color: #000;
}

/* Header */

header .row {
	height: var(--header-hight);
}

/* Main */

main { 
	padding-top: var(--header-hight);
}

/* Jumbo */

.jumbo_img {
	width: 226px;
}