/* Variables and common classes */

:root {
	--green-color: #1abc9c;
	--blue-gray-color: #2c3e50;
	--blue-gray-lighter-color: #3a546d;
}

.bg-blue-gray {
	background-color: var(--blue-gray-color);
}

.bg-blu-gray-lighter {
	background-color: var(--blue-gray-lighter-color);
}

.bg-green {
	background-color: var(--green-color);
}

/* Header */

header .row {
	height: 90px;
}

/* Main */

/* Jumbo */

.jumbo_img {
	width: 226px;
}

/* Cards */

.cards img {
	width: 100%;
}