.debug header,
.debug .main_footer {
	background-color: #2c3e50;
}

.debug header .container {
	height: 90px;
}

.debug .container {
	background-color: #00000055;
}

.debug header .row {
	height: 100%;
}

.debug .header_title,
.debug .nav_item,
.debug .btn_menu,
.debug .hero_title,
.debug .hr_star,
.debug .hero_subtitle {
	height: 20px;
	background-color: white;
}

.debug .nav_header {
	height: 100%;
	background-color: #99999955;
}

#hero,
#about {
	background-color: #1abc9c;
}

.debug .hero_img {
	background-color: #2c3e50;
}

.debug .hero_img:before {
	content: '';
	padding-bottom: 100%;
	display: block;
}

#portfolio .title,
#portfolio .hr_star {
	height: 20px;
	background-color: black;
}

.debug [class*="card_"]::before {
	content: '';
	padding-bottom: 75%;
	display: block;
}

.debug .card_1 {
	background-color: #ba4b63;
}

.debug .card_2 {
	background-color: #1ea4b6;
}

.debug .card_3 {
	background-color: #000;
}

.debug .card_4 {
	background-color: #1c83c1;
}

.debug .card_5 {
	background-color: #0e38b5;
}

.debug .card_6 {
	background-color: #ccb2a3;
}

#about .title,
#about .hr_star,
.debug .copyright {
	height: 20px;
	background-color: white;
}

.debug p {
	height: 100px;
	background-color: white;
}

#contact .title,
#contact .hr_star,
#contact .form {
	height: 20px;
	background-color: #000;
}

#contact .message {
	height: 80px;
	background-color: #000;
}

.debug .main_footer p {
	height: 50px;
	background-color: white;
}