/* Variables and common classes/framework integration */

:root {
	--green-color: #1abc9c; /* Colors */
	--blue-gray-color: #2c3e50;
	--blue-gray-lighter-color: #3a546d;

	--header-hight: 90px; /* Sizes */
}

html {
	scroll-padding-top: var(--header-hight); /* Allow links to go */
}														  /* past the fixed header */

body {
	font-family: 'Roboto', sans-serif;
}

.bg-blue-gray {
	background-color: var(--blue-gray-color);
}

.bg-blu-gray-lighter {
	background-color: var(--blue-gray-lighter-color);
}

.bg-green {
	background-color: var(--green-color);
}

.rounded-5 {
	border-radius: .5rem;
}

/* Header */

header .row {
	height: var(--header-hight);
}

/* Main */

main { 
	padding-top: var(--header-hight);
}

/* Jumbo */

.jumbo_img {
	width: 226px;
}