.debug header {
	background-color: #2c3e50;
}

.debug header .container {
	height: 90px;
}

.debug .container {
	background-color: #00000055;
}

.debug header .row {
	height: 100%;
}

.debug .header_title,
.debug .nav_item,
.debug .btn_menu,
.debug .hero_title,
.debug .hero_star,
.debug .hero_subtitle {
	height: 20px;
	background-color: white;
}

.debug .nav_header {
	height: 100%;
	background-color: #99999955;
}

.debug .hero {
	background-color: #1abc9c;
}

.debug .hero_img {
	background-color: #2c3e50;
}

.debug .hero_img:before {
	content: '';
	padding-bottom: 100%;
	display: block;
}